.chart-series-line {
    -fx-stroke-width: 4px;
    -fx-effect: null;
}

.default-color0.chart-series-line { -fx-stroke: #e9967a; }
.default-color1.chart-series-line { -fx-stroke: #f0e68c; }
.default-color2.chart-series-line { -fx-stroke: #dda0dd; }

.default-color0.chart-line-symbol { -fx-background-color: green, green; }
.default-color1.chart-line-symbol { -fx-background-color: violet, violet; }
.default-color1.chart-line-symbol { -fx-background-color: red, red; }